snippet h1 "Header 1" bA
= $1 =$0
endsnippet

snippet h2 "Header 2" bA
== $1 ==$0
endsnippet

snippet h3 "Header 3" bA
=== $1 ===$0
endsnippet

snippet h4 "Header 4" bA
==== $1 ====$0
endsnippet

snippet h5 "Header 5" bA
===== $1 =====$0
endsnippet

snippet h6 "Header 6" bA
====== $1 ======$0
endsnippet

snippet mm "Maths mode" wA
$$1$$0
endsnippet

snippet -> "Right arrow" wA
→ $0
endsnippet

snippet <-> "Double arrow" wA
⇌ $0
endsnippet
